/* 1 экран + меню */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.main-page {
    margin: 0;
    padding: 0;
    background: url('../img/fon.gif') no-repeat center center;
    background-size: 1900px auto;
    background-attachment: fixed;
    background-color: #000;
}


.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2vw;
    min-height: 5vh;
    box-sizing: border-box;
}
  
.header-left,
.header-right {
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-size: 1.1vw;
    color: #101edd;
    user-select: none;
    pointer-events: none;
    line-height: 1;
    margin: 0;
    padding: 0;
}
  
/* Меню */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    z-index: 1000;
}
  
/* Ссылки меню */
.menu a,
.mobile-menu a {
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-size: 1.1vw;
  color: #101edd;
  text-decoration: none;
  transition: 0.3s;
  line-height: 1;
  padding: 0;
  margin: 0;
}
  
.menu a.active,
.menu a:hover,
.mobile-menu a.active,
.mobile-menu a:hover {
    color: red;
    text-shadow: 0 0 10px red;
}
  
/* Кнопка бургера */
.burger {
    display: none;
    font-size: 7vw;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    position: fixed;
    left: 2vw;
    top: 2vh;
    z-index: 5000;
}
  
/* Мобильное меню */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    z-index: 1300;
}
  
.mobile-menu a {
    font-size: 5vw;
}
  
.hidden {
    display: none;
}

.banka1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 10;
}

.banka {
    width: 30vw;
    height: auto;

}

.text-wrapper {
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 15;
    pointer-events: none;
  }
  
  .forces-text {
    font-family: 'Akony', sans-serif;
    font-size: 8vw;
    color: red;
    text-shadow:
      0 0 1vw rgba(255, 0, 0, 0.8),
      0 0 3vw rgba(255, 0, 0, 0.6),
      0 0 6vw rgba(255, 0, 0, 0.4),
      0 0 10vw rgba(255, 0, 0, 0.2);
  }
  
  .subtitle-text {
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-size: 1.8vw;
    color: #e1e2f2;
    line-height: 1;
    margin-top: 2vh;
    max-width: 80vw;
  }

  .forces-mobile {
    display: none;
}
  
  

.bottom-gradient {
    position: fixed;     
    bottom: 0;          
    left: 0;
    width: 100vw;       
    height: auto;       
    z-index: 1000;      
    pointer-events: none; 
}
  
.bottom-gradient img {
    width: 100%;
    height: auto;
    display: block;
}

/* события */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .poster-stage-wrapper {
    position: relative;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
  }


/* Стили для стрелок */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  color: white;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
  z-index: 90;

}

.scroll-btn:hover,
.scroll-btn:active {
  color: red;
  text-shadow:
  0 0 1vw rgba(255, 0, 0, 0.8),
  0 0 3vw rgba(255, 0, 0, 0.6),
  0 0 6vw rgba(255, 0, 0, 0.4),
  0 0 10vw rgba(255, 0, 0, 0.2);
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}


@media (max-width: 768px) {
  .scroll-btn {
    display: block;
  }
}

/* Анимация при клике */
.scroll-btn:active {
  transform: translateY(-50%) scale(0.9);
}



.poster-stage {
    position: relative;
    width: 1500px;
    height: 100vh;
    z-index: 3;
}
  
.poster {
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.5s, filter 0.5s;
    animation: float 4s ease-in-out infinite alternate;
    filter: blur(3px) brightness(0.8);
    z-index: 1;
}
  
.poster img {
    display: block;
    width: 100%;
    height: auto;
}
  
.poster.active {
    filter: none;
    animation: none;
    cursor: default;
    pointer-events: auto;
    width: 300px;
    z-index: 1000;
}
  
  .p1 { top: 200px; left: 40px; width: 180px; }
  .p2 { top: 260px; left: 190px; width: 210px; }
  .p3 { top: 180px; left: 390px; width: 220px; }
  .p4 { top: 260px; left: 580px; width: 250px; }
  .p5 { top: 180px; left: 800px; width: 180px; }
  .p6 { top: 250px; left: 970px; width: 270px; }
  .p7 { top: 230px; left: 1220px; width: 220px; }
  .p8 { top: 170px; left: 1430px; width: 220px; }
  
  @keyframes float {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
  }


/* регистрация */


.register-form,
.register-form button,
.register-btn {
  font-family: 'HelveticaNeue-Medium', sans-serif;
}

/* Кнопка регистрации под постером */
.register-btn {
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 16px;
  background-color: #101edd;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 1001;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s;
  backdrop-filter: blur(6px);
}

.register-btn:hover {
  background-color: red;
}

/* Обёртка формы */
.register-form-container {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  background: #101edd;
  backdrop-filter: blur(35px);
  padding: 25px;
  box-sizing: border-box;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeInForm 0.4s ease-out;
}

@keyframes fadeInForm {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Поля ввода */
.register-form input {
  padding: 12px;
  font-size: 14px;
  border: 1px solid white;  
  border-radius: 6px;
  background: transparent;   
  color: white;            
  outline: none;
  transition: border-color 0.2s;
  box-shadow: none;           
}

.register-form input::placeholder {
  color: rgba(255, 255, 255, 0.6); 
}

.register-form input:focus {
  border-color: white;
}



/* Кнопка отправки формы */
.register-form button[type="submit"] {
  background-color: #101edd;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  backdrop-filter: blur(6px);
  margin-top: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.register-form button[type="submit"]:hover {
  background-color: red;
}

/* книга */

.book-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  width: 90vw;
  max-width: 900px;
  height: auto;
}

.book-display {
  position: relative;
  width: 100%;
  height: auto;
  pointer-events: auto;
  z-index: 3;
  min-height: 80vh;
}

.book-image.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60vw; 
  max-height: 90vh; 
  cursor: pointer;
  transition: transform 0.3s ease;
  pointer-events: auto;
  z-index: 2;
  display: block;
}

.book-image.center:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.book-image.side {
  position: absolute;
  top: 50%;
  max-width: 40vw;
  max-height: 100vh;
  opacity: 0.8;
  cursor: default;
  pointer-events: none;
  transition: opacity 0.3s ease;
  transform: translateY(-50%);
  display: block;
  z-index: 1;
}

#prev-book-image {
  left: -30%;
}

#next-book-image {
  right: -30%;
}


.book-image.side[style*="display: none"] {
  display: none !important;
}


.book-link {
  pointer-events: auto;
  cursor: pointer;
  display: inline-block;
  z-index: 2;
}

/* Миниатюры */
.thumbnails-overlay {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 720px;
  z-index: 3;
  pointer-events: auto;
}

.thumbnail {
  width: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid transparent;
  border-radius: 4px;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.thumbnail.active {
  border-color: #007bff;
}

@media (max-width: 768px) {
  .book-image.center {
    max-width: 90vw;
    height: auto;
  }

  .thumbnails-overlay {
    max-width: 400px;
    top: 80%;
  }

  #prev-book-image {
    left: -3vw;
  }

  #next-book-image {
    right: -3vw;
  }
}

.book-caption {
  font-family: 'Akony', sans-serif;
  color: red;
  text-align: center;
  font-size: 3.7vw; 
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
  word-spacing: 1vw;
  white-space: nowrap; 
  line-height: 1.2;
  text-shadow:
    0 0 1vw rgba(255, 0, 0, 0.8),
    0 0 3vw rgba(255, 0, 0, 0.6),
    0 0 6vw rgba(255, 0, 0, 0.4),
    0 0 10vw rgba(255, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .book-caption {
    white-space: normal; 
    font-size: 6vw;       
    text-align: center;

  }

  .thumbnails-overlay {
    top: 70%;
  }

}

@media (max-width: 1024px) {

  #prev-book-image {
    left: -1vw;
  }

  #next-book-image {
    right: -1vw;
  }

}

/* магазин */
.shop-caption {
  font-family: 'Akony', sans-serif;
  color: red;
  text-align: center;
  font-size: 3.7vw; 
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
  word-spacing: 1vw;
  white-space: nowrap; 
  line-height: 1.2;
  text-shadow:
    0 0 1vw rgba(255, 0, 0, 0.8),
    0 0 3vw rgba(255, 0, 0, 0.6),
    0 0 6vw rgba(255, 0, 0, 0.4),
    0 0 10vw rgba(255, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .shop-caption {
    white-space: normal; 
    font-size: 6vw;       
    text-align: center;

  }
}


.shop {
  padding: 25vh 9vw;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px 20px; 

  justify-items: center;
}

.product-card {
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 360px; 
}

.product-card:hover {
  transform: scale(1.03);
}
.product-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 15px;
}

.product-info h3 {
  font-size: 1.2rem;
  font-family: 'Akony', sans-serif;
  margin-bottom: 8px;
  color: #101edd;
}

.product-info p {
  margin-bottom: 0.1rem;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  color: #101edd;
  font-size: 16px;
}

/* Кнопка купить */
.buy-button {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: #101edd;
  color: white;
  padding: 6px 16px;
  font-size: 0.9rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  margin-top: 12px;
  pointer-events: none;
  align-self: center;
}


.product-card:hover .buy-button {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* здание */
.building-section {
  position: relative;
  width: 100%;
  min-height: 100vh; 
}


.building-container {
  position: relative; 
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.building-container img.building-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}


.number {
  position: absolute;
  color: white; 
  font-size: 2rem;
  font-weight: bold;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  transition: all 0.3s ease;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  z-index: 900;
  pointer-events: auto;
  cursor: pointer;
}

.number.active {
  color: red;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

.number:hover:not(.active) {
  color: red;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

/* Позиции цифр */
.number1 { bottom: 14%; left: 42%; transform: translateX(-50%); }
.number2 { bottom: 24%; left: 42%; transform: translateX(-50%); }
.number3 { bottom: 33%; left: 42%; transform: translateX(-50%); }
.number4 { bottom: 42%; left: 42%; transform: translateX(-50%); }
.number5 { bottom: 51%; left: 42%; transform: translateX(-50%); }
.number6 { bottom: 60%; left: 42%; transform: translateX(-50%); }
.number7 { bottom: 71%; left: 42%; transform: translateX(-50%); }


.floor-info {
  position: fixed;
  top: 51%;
  transform: translateY(-50%);
  width: 24%;
  background: #101edd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,0.7);
  z-index: 1000;
  display: none;
  flex-direction: column;
  animation: fadeIn 0.3s ease;
}

/* Плашка слева */
.left-floor {
  left: 6.5%;
}

/* Плашка справа */
.right-floor {
  right: 6.5%;
  left: auto;
}

.floor-info.active {
  display: flex;
  animation: fadeIn 0.3s ease;
}

.floor-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}



.floor-title {
  font-family: 'Akony', sans-serif;
  font-size: 3vw;
  color: red;
  margin-bottom: 5px;
  text-shadow: 0 0 10px rgba(255,0,0,0.7);
}

.floor-description {
  color: white;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-size: 1.1vw;
  line-height: 1.3;
}

.floor-description p {
  margin: 8px 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-45%); }
  to { opacity: 1; transform: translateY(-50%); }
}


@media (max-width: 1024px) {
  .floor-info {
    width: 35%;
  }
}


@media (max-width: 1024px) {
  .floor-info {
    max-height: 50vh;
    padding: 15px;
  }
  
  .floor-content {
    flex-direction: column;
  }
  
  .floor-image-container {
    flex: 0 0 auto;
    margin-bottom: 15px;
  }
  
  .floor-image {
    max-height: 25vh;
  }
}


@media (max-width: 1024px) {
  .building-container {
    height: 70vh;
    width: 100vw;
  }
  
  .floor-info {
    transform: translateY(-80px);
    margin-bottom: 30px;
    padding: 25px;
  }
}

@media (max-width: 768px) {
  .number1,
  .number2,
  .number3,
  .number4,
  .number5,
  .number6,
  .number7 {
      left: 27%;
  }
  
  .floor-info {
      width: 90%;
      padding: 20px;
  }
  
  .floor-title {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
  
  .floor-description p {
    font-size: 1.1rem;
  }
  
  .floor-image {
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .floor-info {
    transform: translateY(-40px);
    padding: 18px 12px;
  }
  
  .floor-title {
    font-size: 1.4rem;
  }
  
  .floor-description p {
    font-size: 1rem;
  }
}

.main-content {
  position: relative;
  z-index: 1;
  margin-top: 100vh;
}

.main_building {
  background-color: #0E1128;
}

@media (max-width: 768px) {
  .floor-info {
    width: 60%;
    left: 5%;
    right: 5%;
    top: 70vh;
    transform: none;
    max-height: 30vh;
    margin: 0 auto;
    padding: 12px 15px; 
  }

  .floor-info.left-floor,
  .floor-info.right-floor {
    left: 5%;
    right: 5%;
  }

  .floor-image {
    max-height: 15vh;
    width: auto;
    margin: 0 auto 8px; 
  }

  .floor-title {
    font-size: 6vw;
    margin-bottom: 2px; 
    line-height: 1.1; 
  }

  .floor-description {
    font-size: 3.2vw; 
    margin-top: 2px; 
    line-height: 1.2; 
  }

  .number {
    font-size: 1.3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .number1 { bottom: 40%; left: 30%; transform: translateX(-50%); }
  .number2 { bottom: 47%; left: 30%; transform: translateX(-50%); }
  .number3 { bottom: 53%; left: 30%; transform: translateX(-50%); }
  .number4 { bottom: 60%; left: 30%; transform: translateX(-50%); }
  .number5 { bottom: 66%; left: 30%; transform: translateX(-50%); }
  .number6 { bottom: 72%; left: 30%; transform: translateX(-50%); }
  .number7 { bottom: 79%; left: 30%; transform: translateX(-50%); }
}


