@media (max-width: 768px) {
    .banka {
        width: 50vw; 
    }
    


    .burger {
        display: block;
    }
    .header-left,
    .header-right {
        display: none; /* прячем надписи */
    }
    .menu {
        padding: 1.5rem 0 0 0; /* ещё чуть выше на мобильных */
        gap: 0;
    }
    .menu a {
        font-size: 4vw;
    }

    .menu a {
        display: none;
    }

    .forces-desktop {
        display: none;
    }
    
    .forces-mobile {
        display: inline-block;
        font-size: 16vw;  /* было 12vw — увеличили */
        line-height: 0.8;   /* компактное межстрочное расстояние */
    }

    .subtitle-text {
        top: 57%; /* смещаем ниже */
        font-size: 3vw; /* делаем текст крупнее */
        max-width: 90vw;
        line-height: 1.2; /* можно немного увеличить межстрочное для читаемости */
      }
}


@media (max-width: 1024px) {
    .banka {
        width: 55vw; 
    }
}

@media (max-width: 480px) {
    .banka {
        width: 90vw; 
    }
}


@media (max-width: 768px) {
    .poster-stage {
      width: 1700px;
      height: 100vh;
    }
}

@media (max-width: 768px) {
    .scroll-btn {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      font-size: 2rem;
      width: 40px;
      height: 60px;
      z-index: 1000;
      cursor: pointer;
      border-radius: 6px;
      user-select: none;
    }
  
    .left-btn {
      left: 10px;
    }
  
    .right-btn {
      right: 10px;
    }
  }