@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
    font-weight: normal; /* Или bold, если жирный */
    font-style: 700;
}

@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
    font-weight: normal;
    font-style: 500;
}

@font-face {
    font-family: "AKONY";
    src: url("../fonts/AKONY.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Huninn";
    src: url("../fonts/Huninn-Regular.ttf") format("truetype");
    font-weight: normal; /* Или bold, если жирный */
    font-style: normal;
}